// Colors
$base-color: #181617;
$accent-color: #4AF6CD;;
$additional-color: #304054;
$background-color: #171919;



// Font size
$base-font-size: 14px;
$base-line-height: 1.7;

// Fonts
$base-font: 'Fira Sans', sans-serif;
$text-font: 'Lato', sans-serif;
//$text-font: 'Open Sans', sans-serif;
