

<section class="pets">
  <div class="pets__wrapper">




    <div class="title title--section">
      Питомцы
    </div>
    <div class="title__desc title__desc--section">
      Все представители нашего питомника имеют ветеринарный паспорт с отметками о прививках и документ с родословной
    </div>

    <div class="tabs-pets">
      <ul>
        <li><a href="#tab-1"> Коты</a></li>
        <li><a href="#tab-2"> Кошки </a></li>
        <li><a href="#tab-3"> Котята </a></li>
      </ul>

      <div id="tab-1">

        <!-- Slider main container -->
        <div class="slider-pets__tab1">

          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide"> <img src="../img/content/cat-sl1.png"></div>
            <div class="swiper-slide"> <img src="../img/content/cat-sl2.jpg"></div>
            <div class="swiper-slide"> <img src="../img/content/cat-sl2.jpg"></div>


          </div>
          <div class="slider-pets__wrapper">
            <div class="slider-pets__swiper-button-prev swiper-button-prev"></div>
            <div class="slider-pets__swiper-button-next swiper-button-next"></div>
          </div>

        </div>

      </div>

      <div id="tab-2">

        <!-- Slider main container -->
        <div class="slider-pets__tab2">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide"> <img src="../img/content/cat6.png"> </div>

          </div>

        </div>

      </div>

      <div id="tab-3">
        <!-- Slider main container -->
        <div class="slider-pets__tab3">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide"> <img src="../img/content/cat-sl3.png"></div>
            <div class="swiper-slide"> <img src="../img/content/cat3.jpg"></div>
          </div>

          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>

        </div>
      </div>

    </div>
<!--
    <button class="header-btn"><span class="header-btn_text">Смотреть больше</span></button> -->
    <button class="header__btn">    <span class="header__btn-text">Смотреть больше</span></button>

  </div>
</section>
