<section class="why-us">
  <div class="title title--section">
    Почему именно мы?
  </div>
  <div class="title__desc title__desc--section">
    Приобретая животное в нашем питомнике, вы получите </div>

    <div class="box-info__wrapper">


  <div class="box-info box-info--active">
    <a href="#" class="box-info__link">
      <svg class="box-info__icons">
        <use xlink:href="/img/svg/sprite/sprite.svg#icon-free-vet"></use>
      </svg>
      <span>Бесплатное ветеринарное обслуживание 5 лет</span>
    </a>
  </div>


  <div class="box-info">
    <a href="#" class="box-info__link">
      <svg class="box-info__icons">
        <use xlink:href="/img/svg/sprite/sprite.svg#icon-counseling24"></use>
      </svg>
      <span>Консультирование по любому вопросу 24 часа в сутки</span>
    </a>
  </div>


  <div class="box-info">
    <a href="#" class="box-info__link">
      <svg class="box-info__icons">
        <use xlink:href="/img/svg/sprite/sprite.svg#icon-food-selection"></use>
      </svg>
      <span>Индивидуальный подбор питания для вашего кота</span>
    </a>
  </div>


</div>

</section>
