<section class="team">


  <div class="title title--section">
    Наша команда
  </div>
  <div class="title__desc title__desc--section">
    Все сотрудники нашего питомника  дипломированые специалисты
    в области фелинологии и ветеринарии  </div>


          <!-- Slider main container -->
          <div class="slider-team">

            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide slider-team__slide">
                <img class="slider-team__img" src="../img/content/employee-1-mobile@1x.jpg">
              <div class="slider-team__content">
                <h3 class="slider-team__item">Серёжа Попов </h3>
                <h4 class="slider-team__sub-item">Основатель питомника</h4>
                <p class="slider-team__text">Наш питомник занимается разведением Мейн-Кунов на протяжениие 15 лет.
                  Мы в ответе за каждого приобретенного вами питомца</p>
                <div class="slider-team__cocial-icons">
                  icons
                </div>
              </div>
              </div>






              <div class="swiper-slide slider-team__slide">
                <img class="slider-team__img" src="../img/content/employee-1-mobile@1x.jpg">
              <div class="slider-team__content">
                <h3 class="slider-team__item">Вася Петров </h3>
                <h4 class="slider-team__sub-item">Смотритель питомника</h4>
                <p class="slider-team__text">Наш питомник занимается разведением Мейн-Кунов на протяжениие 15 лет.
                  Мы в ответе за каждого приобретенного вами питомца</p>
                <div class="slider-team__cocial-icons">
                  icons
                </div>
              </div>
              </div>








            </div>
            <div class="slider-team__button-wrapper">
              <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

            </div>



                      </div>

</section>
