<section class="faq">
  <div class="title title--section">
    Вопрос-Ответ  </div>
  <div class="title__desc title__desc--section">
    Мы ответим на самые популярные ваши вопросы </div>
    <div class="faq__list">
      <div class="faq__item">
        <div class="faq__item-wrapper">
          <button type="button" class="faq__question ">С какого возраста можно забирать котенка из питомника?</button>
          <div class="faq__answer faq__answer--show">
            <p>Есть важная причина, почему котенка стоит забирать домой только после трех месяцев, – это вакцинация. Первые прививки животному делают в возрасте 8 недель. Ревакцинация проводится через 3–4 недели. То есть котенок, покидающий дом позднее 12 недель, максимально защищен от различных вирусов и инфекций.</p>
            <p>Так что, чтобы в дома появился психически и физически здоровый котенок, игривый, жизнерадостный, самостоятельный и воспитанный, не спешите забирать его от кошки-мамы раньше трех месяцев.</p>
          </div>
        </div>
      </div>
      <div class="faq__item">
        <div class="faq__item-wrapper">
          <button type="button" class="faq__question  faq__active-btn">Как зарезервировать котенка?</button>
          <div class="faq__answer faq__answer--hide">
            <p>Есть важная причина, почему котенка стоит забирать домой только после трех месяцев, – это вакцинация. Первые прививки животному делают в возрасте 8 недель. Ревакцинация проводится через 3–4 недели. То есть котенок, покидающий дом позднее 12 недель, максимально защищен от различных вирусов и инфекций.</p>
            <p>Так что, чтобы в дома появился психически и физически здоровый котенок, игривый, жизнерадостный, самостоятельный и воспитанный, не спешите забирать его от кошки-мамы раньше трех месяцев.</p>
          </div>
        </div>
      </div>
    </div>






















</section>
