<section class="features">
    <div class="title title--section">
      Особенности породы    </div>
    <div class="title__desc title__desc--section">
      Мейн-Кун - это порода, которая вызывает к себе уважение. Приобретая в свой дом этого питомца, вы получите умное животное, которому нет равных

    </div>
    <!-- <div class="features__image">
      <img src="img/images/catCoon3.png" width="602" height="655" alt="Изображение рыжего Мейн Куна">
    </div> -->

    <ul class="features__list">
      <li class="features__item">Легко уживается в семьях с детьми или другими животными</li>
      <li class="features__item">Выполняет команды как дрессированная собака</li>
      <li class="features__item">Вес может достигать 12 кг, а длина 1 м</li>
      <li class="features__item">Внешний вид этой кошки похож на дикую рысь</li>
  </ul>

  </section>
