<section class="pet-care">
  <div class="title title--section">
    Об уходе за Мейн-Куном </div>


    <div class="pet-care__wrapper">

  <div class="pet-care__item">
    <a href="#" class="pet-care__link">
      <h3 class="pet-care__link-title">Шерсть</h3>
      <p class="pet-care__link-content">Мы разработали 8 правил, следуя которым, шерсть вашего кота всегда будет
        блестящей, мягкой и послушной</p>
    </a>
    <svg class="pet-care__arrow">
      <use xlink:href="/img/svg/sprite/sprite.svg#arrowDetails"></use>
    </svg>
  </div>
  <div class="pet-care__item">
    <a href="#" class="pet-care__link">
      <h3 class="pet-care__link-title">Уши и глаза</h3>
      <p class="pet-care__link-content">Владельцам котов необходимо регулярно осматривать
        ушки и глазасвоих питомцев, ведь это может быть
        признаками заболевания</p>
    </a>
    <svg class="pet-care__arrow">
      <use xlink:href="/img/svg/sprite/sprite.svg#arrowDetails"></use>
    </svg>
  </div>
  <div class="pet-care__item">
    <a href="#" class="pet-care__link">
      <h3 class="pet-care__link-title">Когти</h3>
      <p class="pet-care__link-content">Нужно ли стричь когти? Это мы и выясним, плюс ко всему расскажем как подобрать
        идеальную когтеточку</p>
    </a>
    <svg class="pet-care__arrow">
      <use xlink:href="/img/svg/sprite/sprite.svg#arrowDetails"></use>
    </svg>
  </div>
  <div class="pet-care__item">
    <a href="#" class="pet-care__link">
      <h3 class="pet-care__link-title">Питание</h3>
      <p class="pet-care__link-content">В нашем питомнике существует два подхода: натуральное питание и питание
        промышленными кормами,
        но выбирать только вам</p>
    </a>
    <svg class="pet-care__arrow">
      <use xlink:href="/img/svg/sprite/sprite.svg#arrowDetails"></use>
    </svg>
  </div>


</div>


</section>
